# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Test/coverage
htmlcov/
.coverage
.pytest_cache/

# Data/outputs
data/
# Keep committed sample file in data/
!data/openpowerlifting_sample.csv

outputs/
*.png

# VS Code / Devcontainer
.vscode/
.devcontainer/.venv/

# Docker
*.egg-info/
dist/
build/
